# ROS2
build/
install/
log/
franka_ros2_ws/build_vision/
franka_ros2_ws/install_vision/
franka_ros2_ws/log_vision/
.venv-fr3/
validation_results/
MUJOCO_LOG.TXT

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ROS bag
*.bag
*.db3

# Temporary files
*.tmp
*.swp
